<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <title>Portfolio</title>
</head>


<body>
    <div class="frame">
           <div class="main_frame">
                        <div class="left_frame">
                             <div class="left_1">
                                    <div class="left_1_1">
                                      <img src="images/Profile.png" width="156px" height="142px" alt="Profile" />
                                    </div>
                                    <div class="left_1_2"><%= user.name %></div>
                                    <div class="left_1_3"><%= user.profession %></div>
                                    <div class="left-icons">
                                      <a class="link_href" href=""><div class="icon"><img src="icon/Vector.svg" class="icon-1"></div></a>
                                      <a class="link_href" href=""><div class="icon"><img src="icon/Vector-1.svg" class="icon-1"></div></a>
                                      <a class="link_href" href=""><div class="icon"><img src="icon/Vector-2.svg" class="icon-1"></div></a>
                                      <a class="link_href" href=""><div class="icon"><img src="icon/Vector-3.svg" class="icon-1"></div></a>
                                      <a class="link_href" href=""><div class="icon"><img src="icon/Vector-4.svg" class="icon-1"></div></a>
                                      <a class="link_href" href=""><div class="icon"><img src="icon/Vector-5.svg" class="icon-1"></div></a>
                                    </div>
                              </div> 

                              <div class="marginer"></div>

                                <div class="left_2">
                                    <div class="info-row"><span class="info-label">Age:</span><span class="info-value"><%= user.age %></span></div>
                                    <div class="info-row"><span class="info-label">Residence:</span><span class="info-value"><%= user.residence %></span></div>
                                    <div class="info-row"><span class="info-label">Freelance:</span><span class="info-value green-text">Available</span></div>
                                    <div class="info-row"><span class="info-label">Address:</span><span class="info-value"><%= user.adress %></span></div>
                                </div>

                            <div class="marginer"></div>

                                <div class="left_3">
                                  <h3 class="section-title">Languages</h3>
                                  <div class="lang-item">
                                    <div class="lang-info"><span><%= user.languages[0] %></span><span>100%</span></div>
                                    <div class="progress-bar"><div class="progress" style="width: 100%;"></div></div>
                                  </div>
                                  <div class="lang-item">
                                    <div class="lang-info"><span><%= user.languages[1] %></span><span>100%</span></div>
                                    <div class="progress-bar"><div class="progress" style="width: 100%;"></div></div>
                                  </div>
                                  <div class="lang-item">
                                    <div class="lang-info"><span><%= user.languages[2] %></span><span>100%</span></div>
                                    <div class="progress-bar"><div class="progress" style="width: 100%;"></div></div>
                                  </div>
                                  <div class="lang-item">
                                    <div class="lang-info"><span><%= user.languages[3] %></span><span>100%</span></div>
                                    <div class="progress-bar"><div class="progress" style="width: 100%;"></div></div>
                                  </div>
                               </div>

                            <div class="marginer"></div>

                               <div class="left_4">
                                  <h3 class="section-title">Skills</h3>
                                  <div class="skill-item">
                                    <div class="skill-info"><span><%= user.skills[0] %></span><span>100%</span></div>
                                    <div class="progress-bar"><div class="progress" style="width: 100%;"></div></div>
                                  </div>
                                  <div class="skill-item">
                                    <div class="skill-info"><span><%= user.skills[1] %></span><span>100%</span></div>
                                    <div class="progress-bar"><div class="progress" style="width: 100%;"></div></div>
                                  </div>
                                  <div class="skill-item">
                                    <div class="skill-info"><span><%= user.skills[2] %></span><span>100%</span></div>
                                    <div class="progress-bar"><div class="progress" style="width: 100%;"></div></div>
                                  </div>
                                  <div class="skill-item">
                                    <div class="skill-info"><span><%= user.skills[3] %></span><span>100%</span></div>
                                    <div class="progress-bar"><div class="progress" style="width: 100%;"></div></div>
                                  </div>
                                  <div class="skill-item">
                                    <div class="skill-info"><span><%= user.skills[4] %></span><span>100%</span></div>
                                    <div class="progress-bar"><div class="progress" style="width: 100%;"></div></div>
                                  </div>    
                              </div>

                              <div class="marginer"></div>

                                <div class="left_5">
                                  <h3 class="section-title">Extra Skills</h3>
                                  <div class="extra-skill-item">
                                    <img src="icon/Rectangle-1.svg" class="check-icon"><span><%= user.extra_skills[0] %></span>
                                  </div>
                                  <div class="extra-skill-item">
                                    <img src="icon/Rectangle-1.svg" class="check-icon"><span><%= user.extra_skills[1] %></span>
                                  </div>
                                  <div class="extra-skill-item">
                                    <img src="icon/Rectangle-1.svg" class="check-icon"><span><%= user.extra_skills[2] %></span>
                                  </div>
                                  <div class="extra-skill-item">
                                    <img src="icon/Rectangle-1.svg" class="check-icon"><span><%= user.extra_skills[3] %></span>
                                  </div>
                                </div>
                             <div class="marginer"></div>
               
                        </div>
                      
                              
  
  
                                      <div class="midd_frame">
                                                    <div class="hero_banner">
                                      
                                                            <div class="hero_content">
                                                                <h1>I’m <%= user.name %> <br> 
                                                                    <span class="yellow-text"><%= user.profession %></span> 
                                                                </h1>
                                                                <p><%= user.about_me %></p>
                                                                <button class="hire_me_btn">
                                                                  <img src="btn_icon/Book-1.svg" alt="arrow" class="btn-icon">
                                                                </button>
                                                            </div>

                                                                    <div class="hero_image">
                                                                        <img src="images/profile-1.png" alt="Profile Image">
                                                                    </div>

                                                            <img src="btn_icon/Ellipse 15.svg" class="shape ellipse-1" alt="shakl">
                                                            <img src="btn_icon/Ellipse 15.svg" class="shape ellipse-2" alt="shakl">
                                                            <img src="btn_icon/Rectangle 51.svg" class="shape rect-top" alt="shakl">
                                                            <img src="btn_icon/Ellipse 15.svg" class="shape ellipse-3" alt="shakl">
                                                            <img src="btn_icon/Rectangle 52.svg" class="shape rect-mid" alt="shakl">
                                                            
                                                            <img src="btn_icon/Polygon 1.svg" class="shape polygon-bottom" alt="shakl">
                                                    </div>

                                    
                                                       <div class="services_section">
                                          
                                                              <div class="services_header">
                                                                <h2>My Services</h2>
                                                                <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Lorem ipsum</p>
                                                              </div>

                                                              <div class="services_grid">
                                                                      <div class="service_card">
                                                                          <img src="menu_icon/servise-1.svg" alt="Web Development">
                                                                          <h3>Web Development</h3>
                                                                          <p>Blog, E-Commerce</p>
                                                                      </div>
                                                                      
                                                                          <div class="service_card">
                                                                            <img src="menu_icon/servise-2.svg" alt="UI/UX Design">
                                                                            <h3>UI/UX Design</h3>
                                                                            <p>Mobile App, Website Design</p>
                                                                        </div>
                                                                
                                                                        <div class="service_card">
                                                                            <img src="menu_icon/servise-3.svg" alt="Sound Design">
                                                                            <h3>Sound Design</h3>
                                                                            <p>Voice Over, Beat Making</p>
                                                                        </div>
                                                                  
                                                                        <div class="service_card">
                                                                            <img src="menu_icon/servise-4.svg" alt="Game Design">
                                                                            <h3>Game Design</h3>
                                                                            <p>Character Design, Props & Objects</p>
                                                                        </div>
                                                                
                                                                        <div class="service_card">
                                                                            <img src="menu_icon/servise-5.svg" alt="Photography">
                                                                            <h3>Photography</h3>
                                                                            <p>Portrait, Product Photography</p>
                                                                        </div>
                                                                  
                                                                          <div class="service_card advertising_card">
                                                                              <h3>Advertising</h3>
                                                                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vitae nulla diam in ac dictum.</p>
                                                                              <a href="#" class="order_now">ORDER NOW &gt;</a>
                                                                          </div>
                                                                 </div>
                                                            </div>
                                        </div>
           
           
                                                             <div class="right_frame">
                                                                             
                                                                    <div class="theme_toggle">
                                                                        <img src="menu_icon/Vector-1.svg" alt="Theme Toggle">
                                                                    </div>

                                                                    <nav class="side_nav">
                                                                        <a href="#" class="nav_item active">
                                                                            <img src="menu_icon/Vector-2.svg" alt="Home">
                                                                            <span class="tooltip">Home</span>
                                                                        </a>
                                                                        <a href="#" class="nav_item">
                                                                            <img src="menu_icon/Vector-5.svg" alt="Portfolio">
                                                                            <span class="tooltip">Portfolio</span>
                                                                        </a>
                                                                        <a href="#" class="nav_item">
                                                                            <img src="menu_icon/Vector-4.svg" alt="Education">
                                                                            <span class="tooltip">Education</span>
                                                                        </a>
                                                                        <a href="#" class="nav_item">
                                                                            <img src="menu_icon/blog.svg" alt="Blog">
                                                                            <span class="tooltip">Blog</span>
                                                                        </a>
                                                                        <a href="#" class="nav_item">
                                                                            <img src="menu_icon/Vector-6.svg" alt="Contact">
                                                                            <span class="tooltip">Contact</span>
                                                                        </a>
                                                                    </nav>
                                                                
                                                               </div>
             </div>
    </div>

  </body>
</html>